body {
    font-family: Arial, sans-serif;
    background-color: #fcf7d9;
    /* Light yellow background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-screen {
    text-align: center;
    background-color: #ffffff;
    /* White background */
    padding: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Increased shadow for depth */
    border-radius: 20px;
    /* Rounded corners */
}

h1 {
    font-size: 28px;
    color: #2c3e50;
    /* Dark blue heading color */
}

p {
    font-size: 18px;
    color: #34495e;
    /* Slightly darker blue text color */
}

.small-logo {
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.large-logo {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 200px;
}

.question-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Increased shadow for depth */
    background: #ffffff;
    /* White background */
    border-radius: 20px;
    /* Rounded corners */
}

.question {
    font-size: 60px;
    /* Slightly smaller font size */
    font-weight: bold;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0 10px;
}

.buttons button {
    font-size: 24px;
    /* Smaller font size */
    padding: 12px 20px;
    /* Slightly larger padding */
    cursor: pointer;
    flex-grow: 1;
    margin: 0 30px;
    /* Adjusted margin */
}

button:first-child {
    margin-left: 0;
}

button:last-child {
    margin-right: 0;
}

#backButton {
    font-size: 18px;
    padding: 12px 24px;
    /* Slightly larger padding */
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-color: #ffffff;
    /* White background */
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Increased shadow for depth */
    border-radius: 20px;
    /* Rounded corners */
}

#location-title {
    font-size: 24px;
    color: #2c3e50;
    /* Dark blue heading color */
    text-align: center;
    margin-bottom: 20px;
}

iframe#google-map {
    display: block;
    margin: 20px auto;
    width: 100%;
    border: none;
}

ul.properties {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

ul.properties li {
    background-color: #dff0d8;
    /* Light green background */
    padding: 12px 24px;
    /* Slightly larger padding */
    border-radius: 20px;
    /* Rounded corners */
    margin: 5px;
    white-space: nowrap;
}