body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    /* Light yellow background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-screen {
    text-align: center;
    background-color: #ffffff;
    /* White background */
    padding: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Increased shadow for depth */
    border-radius: 20px;
    /* Rounded corners */
}

h1 {
    font-size: 28px;
    color: #2c3e50;
    /* Dark blue heading color */
}

p {
    font-size: 18px;
    color: #34495e;
    /* Slightly darker blue text color */
}

.small-logo {
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.large-logo {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 200px;
}

.instruction-box {
    background-color: #f0f0f0;
    /* Background color */
    border: 2px solid #ddd;
    /* Border color */
    border-radius: 8px;
    /* Border radius */
    padding: 20px;
    /* Padding inside the box */
    margin-bottom: 20px;
    /* Bottom margin */
    font-size: 16px;
    /* Font size */
    color: #333;
    /* Text color */
}

.background-image {
    position: absolute;
    width: 80%;
    height: 80vh; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    padding: 10%; 
    box-sizing: border-box; 
}

.question-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Increased shadow for depth */
    background: #ffffff;
    /* White background */
    border-radius: 20px;
    /* Rounded corners */
}

.question {
    font-size: 60px;
    /* Slightly smaller font size */
    font-weight: bold;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px; /* Adjust if necessary for smaller/larger buttons */
    padding: 0 10px; /* Keeps buttons within bounds */
    box-sizing: border-box; /* Includes padding in width calculation */
}

button {
    font-size: 20px;
    padding: 15px 24px;
    cursor: pointer;
    flex-grow: 1; 
    margin: 5px 15px;
    border: 2px solid transparent;
    background-color: #aab3ce;
    color: #333333;
    transition: all 0.3s ease; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    outline: none; 
}

button:active {
    transform: scale(0.98); 
    box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
}

button:first-child {
    margin-left: 0;
}

button:last-child {
    margin-right: 0;
}

#backButton {
    font-size: 18px;
    padding: 12px 24px;
    /* Slightly larger padding */
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-color: #ffffff;
    /* White background */
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Increased shadow for depth */
    border-radius: 20px;
    /* Rounded corners */
}

#location-title {
    font-size: 24px;
    color: #2c3e50;
    /* Dark blue heading color */
    text-align: center;
    margin-bottom: 20px;
}

iframe#google-map {
    display: block;
    margin: 20px auto;
    width: 100%;
    border: none;
}

ul.properties {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

ul.properties li {
    background-color: #dff0d8;
    /* Light green background */
    padding: 12px 24px;
    /* Slightly larger padding */
    border-radius: 20px;
    /* Rounded corners */
    margin: 5px;
    white-space: nowrap;
}